/* AboutComponent.css */

/* Default styles for larger screens */
.image {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Crops the image to cover the container */
  transform: rotate(5deg);
  transition: transform 0.5s ease-in-out;
}

.image-left {
  transform: rotate(-5deg);
}

.image:hover,
.image-left:hover {
  transform: rotate(0deg); /* Remove rotation on hover */
}

/* For mobile devices */
@media (max-width: 768px) {
  .image,
  .image-left {
    transform: none; /* Disable rotation */
    transition: none; /* Remove animation */
    object-fit: contain; /* Display the entire image */
  }
}

/* AboutComponent.css */

/* Initial fade-out state */
.fade-out {
  opacity: 0;
  transform: translateY(50px); /* Move element down initially */
}

/* Fade-in when visible */
.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Smooth transition */
.fade-in,
.fade-out {
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
