@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.bg-home-bg {
  background: rgb(2, 0, 36); /* Fallback color */
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.7) 0%,
      rgba(2, 0, 36, 0.5) 30%
    ),
    url("/home_bg.jpg"); /* Add gradient first, then the image */
  background-size: cover; /* Ensures the image covers the element */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the background image */
}
